<footer class="footer hidden">
  <div class="wrapper xs-py6 md-my6">
    <div class="gutters">
        <div class="col xs-col-12 display-flex flex-direction-row align-items-center justify-content-space-between">
          <a href="/"><h1 class="display-2">✌️</h1></a>
          <p class="text-3">John.Design</p>
        </div>
    </div>
  </div>
  <div class="wrapper xs-pb4 xs-pt0">
    <div class="gutters">
        <div class="col xs-col-12 display-flex flex-direction-row align-items-center justify-content-space-between">
          <h6 class="copyright xs-text-left"><a href="/credit">Site Credits</a></h6>
          <h6 class="copyright xs-text-right">{{ site.copyright }}</h6>
        </div>
    </div>
  </div>
</footer>
