<header class="nav-header{% if page.header == "black" %} fill-black{% else %} fill-white{% endif %}">
  <nav class="xs-pb3 md-pb6">
    <div class="wrapper md-pb2">
      <div class="gutters">
        <div class="col xs-col-3 md-col-2">
          <a href="/">{% include icons/logo.html %}</a>
        </div>
        <div class="col xs-col-12 sm-col-9 md-col-8 md-offset-2 lg-col-7 lg-offset-3 xl-col-6">
          <div class="nav-items">
            {% assign pages = site.pages | sort:"weight"  %}
            {% for p in pages %}
              {% if p.title %}
              <a class="{% if page.header == "black" %} text-white{% else %} text-black{% endif %}{% if p.url == page.url %} active decoration-line-through{% endif %}" href="{{ p.url | prepend: site.baseurl }}"><h3>{{ p.title }}</h3></a>
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
