<header class="nav-header{% if page.header == "black" and page.title == "Info" %} fill-black {% elsif page.header == "black" %} fill-black {% else %}{% endif %}">
  <nav class="nav-max nav-down">
    <div class="wrapper">
      <div class="gutters">
        <div class="col xs-col-3 md-col-2">
          <a class="pace-activity" href="/">{% include icons/logo.html %}</a>
        </div>
        <div class="col xs-col-9 md-col-6 md-offset-4 lg-col-5 lg-offset-5">
          <div class="nav-items">
            {% assign pages = site.pages | sort:"weight"  %}
            {% for p in pages %}
              {% if  p.hide == true %}
              {% else %}
                {% if p.title %}
                <a class="{% if page.header == "black" %} text-white{% else %} text-black{% endif %}{% if p.url == page.url %} active{% endif %}" href="{{ p.url | prepend: site.baseurl }}"><h4>/{{ p.title | downcase }}</h4></a>
                {% endif %}
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
