---
title: Info
layout: default
header: black
order: 1
about-1: |
  I am designer, in as many senses of the word as possible. Bringing ideas to life for great brands and even better people, across all mediums. I write code, illustrate, push pixels, build products, creative direct, story-tell, shape brands, and make/break grids. I am passionate about leading and working with teams.
---

<section class="page-header fill-black">
  <div class="page-header--upper wrapper">
    <div class="xs-block gutters">
      <div class="col md-col-8 md-offset-4 lg-col-7 lg-offset-5">
        <h1 id="site-header" class="display text-white">John Choura Jr. is a <span id="designer" class="designer active">multidisciplinary <i>*</i></span> <span id="multi" class="multi inactive">code hacking, illustrating, pixel pushing, product making, creative directing, storytelling, brand shaping, grid breaking</span> designer in Long Beach, California.</h1>
      </div>
    </div>
  </div>
  {% include home/shapes.html %}
</section>
<section class="post-body md-pt6">
  <div class="post-content xs-pt6 xs-mt6">
    <div class="wrapper md-pt6 md-mt6">
      <div class="gutters xl-pt6">
        <div class="col col-md-4 lg-col-5">
          <div class="about-shape -shape--sheet-3">
            <img class="about-me" src="{{ "/img/me.jpg" | prepend: site.baseurl }}" alt="" />
          </div>
        </div>
        <div class="col md-col-8 lg-col-7 ">
          <h3 class="md-mt2 md-pr3">About Me</h3>
          <p class="text-1">Designing Product at Payoff. Co-founder and Creative Director of <a href="http://scientist.design/">Scientist Design</a>, a two-man design team. <span class="decoration-line-through">Previously at Envoy, Signal, and Biola.</span></p>
          <p>{{ page.about-1 }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="post-content">
    <div class="wrapper md-pt6 md-mt6">
      <div class="gutters">
        <div class="col col-md-4 lg-col-4">
          <div class="about-featured">
            <h3 class="md-mt2 md-pr6">Featured On</h3>
            <p class="text-2"><a href="http://www.awwwards.com/sites/grand-food-beverage">Awwwards</a>, <a href="http://www.commarts.com/webpicks/grand-food-beverage">Commarts</a>, <a href="http://www.site.uplabs.com/posts/john-choura-jr-home">SiteUp</a>, <a href="http://thetypefight.com/details/john-choura-vs.-simon-sok">Type Fight</a>, <a href="http://www.underconsideration.com/fpo/archives/2013/07/biola-academic-planner.php">FPO</a>, <a href="">OneMinuteWith</a>, <a href="http://www.urbanoutfitters.com/urban/catalog/productdetail.jsp?id=24772220&color=060&itemdescription=true&navAction=jump&search=true&isProduct=true&parentid=A_FURN_WALL">Urban Outfitters</a>, <a href="http://helpink.org/search?q=John+Choura">Help Ink</a>, <a href="http://fontsinuse.com/uses/2882/change-the-things-i-can">Fonts In Use</a>.</p>
            <hr class="xs-border xs-my6">
            <h3 class="md-mt2 md-pr6">Social</h3>
            <p class="text-2"><a href="http://twitter.com/johnchourajr">Twitter</a>, <a href="http://instagram.com/johnchoura">Instagram</a>, <a href="http://dribbble.com/johnchourajr">Dribbble</a>, <a href="http://github.com/johnchourajr">GitHub</a>.</p>
            <hr class="xs-border xs-my6">
            <h3 class="md-mt2 md-pr6">Say Hello</h3>
            <p class="text-2"><a href="mailto:{{ site.email }}">{{ site.email }}</a></p>
          </div>
        </div>
        <div class="col xs-col-12 lg-col-7 lg-offset-1">
          <div class="about-shape -shape--sheet-1">
            <img class="about-beach" src="{{ "/img/beach.jpg" | prepend: site.baseurl }}" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="post-content ">
    <div class="wrapper xs-pt3 xs-mt3 md-pt6 md-mt6">
      <div class="xs-col-12">
        {% assign post = site.journal.last %}
        {% assign content = post.content %}
        <h1 class="xs-inline-block md-mt2 xs-pr2">Newest Journal Post</h1>
        <h3 class="xs-inline-block text-gray-lightest md-mt2 md-pr6"> on {{ post.date | date: "%b %-d, %Y" }}</h3>
        <div class="col xs-col-12 xs-mb3 " >
          <div class="fill-black rounded">
            <a href="{{ post.url }}" class="xs-block">
              <div class="xs-block xs-py6" {% if post.cover %}style="
              background-image: url(/journal/uploads/{{ post.cover }}); background-size: cover; background-position: center; height: 30vw;"{% endif %}>
              </div>
              <div class="xs-inline-block sm-col-10 sm-offset-1 xs-p3 sm-py6 sm-px0">
                <div class="col sm-col-6 md-col-5 xs-pr2 md-pr3 lg-pr6">
                  <span class="display-2 xs-mb3 lg-pr6 text-white">{{ post.title }}</span>
                  {% assign wordcount = post.content | number_of_words %}
                  {% assign avgwpm = 200 %}
                  <!-- {{wordcount}} words read at {{avgwpm}} words per minute equals the estimated read time -->
                  {% if  wordcount >= avgwpm %}
                    <h5 class="xs-mt3 text-white xs-block">{{ wordcount | divided_by: avgwpm | floor }} Minute Read</h5>
                  {% else %}
                    <h5 class="xs-mt3 text-white xs-block">1 Minute Read</h5>
                  {% endif %}
                </div>
                <div class="col sm-col-6 md-col-7">
                  <p class="text-white">
                    {{ post.content | strip_html | truncate: 100 }}
                  </p>
                  <h6 class="text-white">Continue Reading</h6>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
