<footer class="grid">
  <figure class="grid__col grid__col--3-of-12 grid__col--push-1-of-12">
    <nav>
      <ul class="logo">
        <li class="logo__svg"><a href="/"><img src="/img/logo.svg" alt="/"/></a></li>
      </ul>
      <ul class="nav">
      {% for page in site.pages %}
        <li><a href="{{page.url}}">{{page.title}}</a></li>
      {% endfor %}
      </ul>
    </nav>
  </figure>
  <figure class="grid__col grid__col--8-of-12" style="z-index: 9999;">
    <h4>The Design Work of John Choura Jr.</h4>
    <ul class="social">
      <li><a href="http://twitter.com/johnchourajr"><img src="/img/ico-Twitter.svg" alt="" /></a></li>
      <li><a href="http://instagram.com/johnchoura"><img src="/img/ico-Instagram.svg" alt="" /></a></li>
      <li><a href="http://dribbble.com/johnchourajr"><img src="/img/ico-dribbble.svg" alt="" /></a></li>
      <li>© 2015 JOHN CHOURA JR.</li>
    </ul>
  </figure>
</footer>
