<header class="nav-header fill-white">
  <nav class="xs-pb6">
    <div class="wrapper md-pb2">
      <div class="gutters">
        <div class="col xs-col-3 md-col-2">
          <a href="/"><img src="/img/objsbj-logo-b.svg" alt="" /></a>
        </div>
        <div class="col xs-col-9 md-col-8 md-offset-2 lg-col-7 lg-offset-3 xl-col-6">
          <div class="nav-items">
            {% assign pages = site.pages | sort:"weight"  %}
            {% for p in pages %}
              {% if p.title %}
              <a class="text-black {% if p.url == page.url %}active{% endif %}" href="{{ p.url | prepend: site.baseurl }}"><h3>{{ p.title }}</h3></a>
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
