<div class="col xs-col-12 xs-my3 ">
  {% if post.cover %}{% else %}<div class="fill-black rounded">{% endif %}
  <a href="{{ post.url }}" class="xs-inline-block {% if post.cover %}{% else %}sm-col-10 sm-offset-1 xs-p3 sm-py6 sm-px0{% endif %}">
    <div class="col sm-col-6 md-col-5 xs-pr2 md-pr3 lg-pr6">
      {% if post.next %}
        <p class="text-1 xs-mb1 lg-pr6 underline {% if post.cover %}{% else %}text-white{% endif %}">{{ post.title }}</p>
      {% else %}
        <span class="display-2 xs-mb3 lg-pr6 underline {% if post.cover %}{% else %}text-white{% endif %}">{{ post.title }}</span>
      {% endif %}
      <h6 class="{% if post.cover %}text-gray-lightest {% else %}text-white{% endif %}">{{ post.date | date: "%b %-d, %Y" }}</h6>
    </div>
    <div class="col {% if post.next %}sm-offset-2 sm-col-4 md-col-5{% else %}sm-col-6 md-col-7{% endif %}">
      {% if post.cover %}
        <img src="/journal/uploads/{{ post.cover }}" alt="" />
      {% else %}
      <p class="text-white">
        {{ post.content | strip_html | truncate: 100 }}
      </p>
        <h6 class="text-white">Continue Reading</h6>
      {% endif %}
    </div>
  </a>
</div>
{% if post.cover %} {% else %} </div> {% endif %}
