<script type="text/javascript">


    $(function () {
      // initialize skrollr if the window width is large enough
      if ($(window).width() > 1024) {
        skrollr.init();
      }

      // disable skrollr if the window is resized below 768px wide
      $(window).on('resize', function () {
        if ($(window).width() <= 1024) {
          skrollr.init().destroy(); // skrollr.init() returns the singleton created above
        }
        if ($(window).width() > 1024) {
          skrollr.init();
        }
      });
    });

    $(document.links).filter(function() {
      return this.hostname != window.location.hostname;
    }).attr('target', '_blank');

</script>
