// body {
//   transition: color .1s $easeOutCubic, opacity .1s $easeOutCubic, background-color .1s $easeOutCubic;
// }

.tog-show {
  display: block;
}

.tog-hide {
  display: none;
}

$coversize: 80;
$coverratio: 0.6423611111;

.txt-big-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.txt-big {
  opacity: 0;
  width: #{$coversize}vw;
  height: #{$coversize * $coverratio}vw;
  transition: opacity 0.4s $easeOutCubic;
  transition: transform 4s cubic-bezier(0, 0.01, 0.14, 1.19);
  background-size: cover;
  background-position: center center;
  background-color: transparent;
  outline: 1px solid transparent;
  backface-visibility: hidden;
}

a {
  transition: color 0.4s $easeOutCubic, opacity 0.4s $easeOutCubic,
    background-color 0.4s $easeOutCubic;

  &:after {
    transition: color 0.4s $easeOutCubic, opacity 0.4s $easeOutCubic,
      background-color 0.4s $easeOutCubic;
  }
}

a.txt {
  position: relative;
  transition: color 0.4s $easeOutCubic;
}

@mixin hover-magic($name, $colorbkg, $color, $img, $blend) {
  body.#{$name},
  body.#{$name} .doc {
    background-color: $colorbkg !important;
    color: $color !important;
  }
  body.#{$name} .logo-black #logo {
    fill: $color !important;
  }
  body.#{$name} a {
    color: $color !important;
  }
  body.#{$name} a.txt {
    &:hover {
      color: $color !important;
    }
  }
  body.#{$name} *::after {
    background-color: $color !important;
  }
  .txt-big.#{$name} {
    opacity: 1;
    @if $img == null {
    } @else {
      background-image: url("#{$img}");
    }
    mix-blend-mode: $blend;
  }
}

// 🙌 Me
// 😁 Designer
// 😬 Developer
// 😵 Artist
// ☕️ Coffee
// ☀️ Long Beach
// 🎈 Happy Money
// 👨‍🏫 Biola Adjunct
// 👋 Email

@include hover-magic(🙌, #eeeeee, initial, "/img/home/me-hero.jpg", multiply);
@include hover-magic(😁, #e0baba, initial, "/img/home/design.gif", unset);
@include hover-magic(😬, #80ff00, #80ff00, "/img/home/dev.gif", unset);
@include hover-magic(😵, #c2ffe2, initial, "/img/home/artist.gif", unset);
@include hover-magic(☕️, #bac0e0, #1c5cff, "/img/home/coffee.gif", unset);
@include hover-magic(☀️, #3e3efa, initial, "/img/home/lbc.gif", unset);
@include hover-magic(🎈, #f65996, #242021, null, unset);
@include hover-magic(👨‍🏫, white, #cf102d, null, unset);
@include hover-magic(👋, black, white, null, unset);

// Other Hover Events

@include hover-magic(twitter, white, $text-twitter, null, unset);
@include hover-magic(dribbble, white, $text-dribbble, null, unset);
@include hover-magic(instagram, white, $text-instagram, null, unset);
@include hover-magic(github, white, gray, null, unset);
@include hover-magic(
  agoodpair,
  white,
  transparent,
  "/img/work/agoodpair-hero.jpg",
  none
);
@include hover-magic(
  socalcoffee,
  #e2fffb,
  transparent,
  "/img/work/socalcoffee-hero.jpg",
  none
);
@include hover-magic(
  fartsounds,
  #ffffec,
  transparent,
  "/img/work/fartsounds-hero.jpg",
  none
);
@include hover-magic(
  happymoney,
  #f65996,
  transparent,
  "/img/work/happy-money-hero.jpg",
  none
);
@include hover-magic(joy, #ffffff, transparent, "/img/work/joy-hero.jpg", none);
@include hover-magic(
  fermensch,
  #ffce00,
  transparent,
  "/img/work/fermensch-hero.jpg",
  none
);
@include hover-magic(
  arcade,
  #fff,
  transparent,
  "/img/work/arcade-hero.jpg",
  none
);
@include hover-magic(
  grandfandb,
  #ffffff,
  transparent,
  "/img/work/grandfandb-hero.jpg",
  none
);
@include hover-magic(
  amazinggrass,
  #ffffff,
  transparent,
  "/img/work/amazinggrass-hero.jpg",
  none
);
@include hover-magic(
  vizio,
  #ffffff,
  transparent,
  "/img/work/vizio-hero.jpg",
  none
);
@include hover-magic(
  kareo,
  #ffffff,
  transparent,
  "/img/work/kareo-hero.jpg",
  none
);
@include hover-magic(
  blossom,
  #3dd4cf,
  transparent,
  "/img/work/blossom-hero.jpg",
  none
);
@include hover-magic(
  biola,
  #000000,
  transparent,
  "/img/work/biola-hero.jpg",
  none
);
@include hover-magic(
  signal,
  #65bcae,
  transparent,
  "/img/work/signal-hero.jpg",
  none
);

.client-col h2,
.project-col {
  &:hover {
    color: initial !important;

    h2,
    a {
      color: initial !important;
    }
  }
}

.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  display: flex;
  justify-content: center;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: $fill-black;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 2px;
}

.pace .pace-progress-inner {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px $fill-black, 0 0 5px $fill-black;
  opacity: 1;
  -webkit-transform: rotate(3deg) translate(0px, -4px);
  -moz-transform: rotate(3deg) translate(0px, -4px);
  -ms-transform: rotate(3deg) translate(0px, -4px);
  -o-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}

.pace-running .logo svg {
  display: block;
  transform-origin: center center;
  animation: pace-spinner 1000ms linear infinite;
  animation-delay: 750ms;
  transition: all 400ms $easeOutCubic;
  opacity: 1;
}
@keyframes pace-spinner {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.25;
  }
  100% {
    opacity: 1;
  }
}
