
/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}



/**
 * Basic styling
 */
html {
  font-size: $base-font-size;
}

body {
  font-size: 90%;
  font-family: $base-font-family;
  color: $text-black;
  background-color: #fff;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal;

  @include media-query(sm) {
    font-size: 110%;
  }
  @include media-query(md) {
    font-size: 120%;
  }
}



/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle;
}



/**
 * Figures
 */
figure > img {
  display: block;
}

figcaption {
  font-size: $small-font-size;
}



/**
 * Lists
 */
ul, ol {
  margin-left: $space-1;
}

li {
  > ul,
  > ol {
     margin-bottom: 0;
  }
}


/**
 * Wrapper
 */
.wrapper {
  max-width: -webkit-calc(#{$content-width} - (#{$space-1} * 2));
  max-width: calc(#{$content-width} - (#{$space-1} * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: $space-1;
  padding-left: $space-1;
  @extend %clearfix;

  @include media-query(lg) {
    max-width: -webkit-calc(#{$content-width} - (#{$space-1}));
    max-width:         calc(#{$content-width} - (#{$space-1}));
    padding-right: $space-1 / 2;
    padding-left: $space-1 / 2;
  }
}



/**
 * Clearfix
 */
%clearfix {

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
