
/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}



/**
 * Basic styling
 */
html {
  font-size: $base-font-size;
  background-color: $fill-black;
}

body {
  font-size: 90%;
  font-family: $base-font-family;
  color: $text-black;
  // background-color: #fff;
  background-color: rgb(238, 238, 238);
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal;

  @include media-query(sm) {
    font-size: 110%;
  }
  @include media-query(md) {
    font-size: 120%;
  }
}



/**
 * Images
 */
img {
  width: 100%;
  max-width: 100%;
  vertical-align: middle;
  border-radius: $border-radius;
}



/**
 * Figures
 */
figure {
  background: $fill-white;
}

figure > img {
  display: block;
  min-height: 30vw;
}

figcaption {
  font-size: $small-font-size;
}



/**
 * Lists
 */
ul, ol {
  margin-left: ($space-1 * 2.5);
}

li {
  > ul,
  > ol {
     margin-bottom: 0;
  }
}


/**
 * Wrapper
 */
.wrapper {
  max-width: -webkit-calc(#{$content-width} - (#{$space-1} * 2));
  max-width: calc(#{$content-width} - (#{$space-1} * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: $space-1;
  padding-left: $space-1;
  @extend %clearfix;

  @include media-query(lg) {
    max-width: -webkit-calc(#{$content-width} - (#{$space-1}));
    max-width:         calc(#{$content-width} - (#{$space-1}));
    padding-right: $space-1 / 2;
    padding-left: $space-1 / 2;
  }

  @include media-query(xl) {
    $unit: 5;
    max-width: -webkit-calc(#{$content-width} - (#{($space-1*$unit)}));
    max-width:         calc(#{$content-width} - (#{($space-1*$unit)}));
    padding-right: ($space-1*$unit) / 2;
    padding-left: ($space-1*$unit) / 2;
  }

  @include media-query(xxl) {
    $unit: 5vw;
    max-width: -webkit-calc(#{$content-width} - #{($unit)});
    max-width:         calc(#{$content-width} - #{($unit)});
    padding-right: $unit / 2;
    padding-left: $unit / 2;
  }
}



/**
 * Clearfix
 */
%clearfix {

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}



/**
 * Footer
 */
footer {
  font-weight: 600;
}

// body {
//   transition: all .2s $easeOutCubic;
// }


body.is-Loading #doc, body.is-Loading footer {
    padding-top: 200px;
    /* background: black; */
    opacity: 0;
}

body.is-Loading::after {
    content: '👋';
    position: absolute;
    top: 0;
    left: 0;
    color: white;
}

body.is-Loading {
    background: black;
}
