@font-face {
  font-family: "SF Mono";
  font-weight: 600;
  src: url("/fonts/SFMono-Semibold.eot") format("embedded-opentype");
}

@font-face {
  font-family: "SF Mono";
  font-weight: 600;
  src: url("/fonts/SFMono-Semibold.otf") format("opentype"),
    url("/fonts/SFMono-Semibold.ttf") format("truetype"),
    url("/fonts/SFMono-Semibold.svg#SFMono-Semibold") format("svg");
  font-weight: normal;
  font-style: normal;
}
