@font-face {
    font-family: 'tenorsans';
    src: url('../fonts/tenorsans-regular-webfont.woff2') format('woff2'),
         url('../fonts/tenorsans-regular-webfont.woff') format('woff'),
         url('../fonts/tenorsans-regular-webfont.ttf') format('truetype'),
         url('../fonts/tenorsans-regular-webfont.svg#tenor_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
