.post-hero {
  background-color: $fill-gray-lighter;
  background-size: cover;
  background-position: center;
  height: 30vw;
  min-height: 200px;
  width: 100%;
  margin: $space-2 0 $space-4;
  display: inline-block;
  overflow: hidden;
  position: relative;
  z-index: 0;
  border-radius: $border-radius;

  @include media-query(md) {
    margin: $space-4 0 $space-6;
  }

  &-overflow {
    background: transparent;
    overflow: visible;
    mix-blend-mode: multiply;
  }

  img {
    top: 0;
    width: 100%;
    position: absolute;
  }

  iframe[src*="codepen.io"] {
    height: 30vw;
    min-height: 200px;
  }
}

.post-header {
  margin-top: ($space-6 * 3);
}

.post-img {
  width: 100%;
}

.post-body {
  .post-content {
    z-index: 10;

    > {
      h1, h2, h3, h4, h5, h6, p {
        margin-bottom: 1.5rem;
      }

      h4, h5, h6 {
        margin-top: 2.5rem;
      }

      p {
        font-weight: 600;
      }
    }

    h1, h2 {
      line-height: 1.55;
    }

    img + em {
      display: block;
      opacity: .25;
      margin-top: $space-2;
      color: $text-gray-lightest;
      font-family: $mono;
      font-size: .45em;
      font-style: normal;
      font-weight: $bold;
      text-align: right;
      text-transform: uppercase;
      letter-spacing: .2em;
    }

    img {
      margin-top: $space-2;

      &[alt~="twoup"] {
        margin-top: 0;
        margin-bottom: $space-2;

        &:last-child {
          margin-bottom: 0;
        }
      }
      &[alt~="lg"] {
        margin-left: calc(-7.5vw - 1em);
        width: calc(100vw + 0.5em) !important;
        max-width: none;
      }

      @include media-query(md) {
        &[alt~="lg"] {
          margin-left: -51.5%;
          width: 151.5% !important;
          max-width: none;
        }
        &[alt~="sm"] {
          margin-left: -36.5%;
          width: 136.5% !important;
          max-width: none;
        }
        &[alt~="twoup"] {
          margin-top: 0;
          margin-bottom: 0;
        }
      }

      @include media-query(lg) {

        &[alt~="lg"] {
          margin-left: -73%;
          width: 173% !important;
          max-width: none;
        }
        &[alt~="twoup"] {
          margin-left: -73%;
          width: 85% !important;
          max-width: none;
          // float: left;

          &:nth-child(2) {
            margin-left: 0.75%;
          }
        }
      }
    }
  }

  .text-1 {
    font-weight: 600;
  }
}
