::selection {
  background: rgba($brand-yellow,.5);
}

.doc {
  min-height: 100vh;
  background: white;
  z-index: 1;
  // padding-top: 10vh;
  padding-bottom: $space-md;
  margin-bottom: 5em;
  overflow-x: hidden;
  box-shadow: 0 5px 0px $fill-black;
  transition: all .5s $easeOutCubic;

  @include media-query(sm) {
    margin-bottom: 5em;
  }
  @include media-query(md) {
    margin-bottom: 22em;
  }
  @include media-query(lg) {
    margin-bottom: 20em;
  }
}

.nav-header {
  position: fixed;
  width: 100%;
  z-index: 9999;
}

.nav-down {
  .nav-items {
    opacity: 1,
  }

}
.nav-up {
  .nav-items {
    opacity: 0,
  }
}
.nav-max {
  padding-top: $space-sm;
  @include media-query(md) {
    padding-top: $space-md;
  }
}
.nav-min {
  padding-top: ($space-sm * .5);
  @include media-query(md) {
    padding-top: ($space-sm * 1);
  }
}

nav {
  transition: all .5s $easeOutCubic;

  .nav-items {
    width: 100%;
    display: flex;
    align-items: space-between;
    justify-content: space-between;
    transition: opacity .25s $easeOutCubic, margin-top .75s $easeOutCubic;

    a {
      padding: 1em 0;
      padding-right: 15px;
      display: inline-block;

      @include media-query(sm) {
        padding: .65em 0;
      }

      &.active {
        opacity: .3;
      }
    }
  }

  &:hover {
    .nav-items {
      opacity: 1 !important;
    }
  }
}

.logo {

  svg {
    transform: scale(.75);
    transform-origin: left;
    @include media-query(sm) {
      transform: scale(1);
    }
  }


  &-white #logo {
    fill: #fff;
    transition: all .5s $easeOutCubic;
  }
  &-black #logo {
    fill: #000;
    transition: all .5s $easeOutCubic;
  }
}

footer {
  width: 100%;
  bottom: 0;
  z-index: -1;

  @include media-query(md) {
    position: fixed;
  }

  .copyright {
    color: $text-gray-lighterest;
    // max-width: 60%;
  }
}

.page-header {
  background-position-y: bottom;
  background-repeat: no-repeat;

  &--index {
    background-image: url('../img/onward.png');
    background-size: cover;
  }

  &--work {
    background-image: url('../img/onward.png');
    background-size: cover;
  }

  &--journal {
    background-image: url('../img/wander.png');
    background-size: cover;
  }

  &--upper {
    width: 100%;
    position: relative;
    z-index: 8888;

    #site-header {
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
  }

  &--text {
    top: 20vw;

    @include media-query(sm) {
      top: 3vw;
    }

    @include media-query(md) {
      top: -6vw;
    }

    h1 {
      font-size: 30vw;
      font-family: $sans;
      color: rgba(255,255,255, .15);
      margin-bottom: 0 !important;

      @include media-query(sm) {
        font-size: 23vw;
      }

      @include media-query(md) {
        font-size: 23vw;
      }
    }
  }

  &--lower {
    height: 40vw;
    margin-top: -15vw;
    position: relative;
  }
}

.page-body {

  &.pad {
    padding-top: $space-md;

    @include media-query(md) {
      padding-top: $space-lg;
    }
  }

  tr.flex-baseline {
    display: flex;

    td.col {
      align-self: baseline;
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.designer {
  cursor: pointer;
  transition: color .2s $easeOutCubic;
  position: relative;

  &:hover {
    color: $brand-red;

    i {
      color: $brand-red;
      font-style: normal;
    }
  }

  i {
    color: $brand-red;
    font-style: normal;
    font-family: serif;
    margin-left: -.2em;
    top: -3px;
    position: relative;
    display: inline;
  }

  &:after {
    content: "";
    position: absolute;
    top: .75em;
    left: 0;
    height: .1em;
    width: 0;
    background: transparent;
    transition: all .2s $easeOutCubic;
  }

  &.active {
    text-decoration: none;
  }

  &.inactive {
    color: #fff;
    &:after {
      width: calc(100% - 1em);
      background: #fff;
      transition: all .2s $easeOutCubic;
    }
  }
}

.multi {
  overflow: hidden;
  display: block;
  transition: all .3s $easeOutCubic;
  font-family: monospace;
  font-weight: normal;
  font-size: .45em;
  display: block;
  line-height: 2.2em;

  &.active {
    opacity: 1;
    max-width: 23em;
    height: 9em;
    color: #fff;
  }

  &.inactive {
    height: 0;
    opacity: 0;

    @include media-query(sm) {
      max-width: 500px;
    }
    @include media-query(md) {
      max-width: 47vw;
    }
    @include media-query(lg) {
      max-width: 35vw;
    }
    @include media-query(xl) {
      max-width: 35vw;
    }
  }
}

.about {
  &-me {
    max-width: 50vw;
    margin-top: 15vw;
    margin-bottom: $space-6;

    @include media-query(md) {
      max-width: 32em;
      margin-top: 0;
    }

    @include media-query(lg) {
      width: 100%;
      margin-left: calc(-7.5vw - .5rem);
    }
    @include media-query(xl) {
      // margin-left: 0;
    }
  }

  &-beach {
    // margin-top: 40vw;

    @include media-query(lg) {
      min-width: 120%;
      // margin-top: 7.5vw;
    }
    @include media-query(lg) {
      // margin-top: 10vw;
    }
  }
}

.about-shape {
  transition: margin-top 1s $easeOutCubic;
  position: relative;
}

.shape {
  position: absolute;
  transition: margin-top 1s $easeOutCubic;

  &--red-left {
    width: 27vw;
    height: 27vw;
    background: $brand-red;
    top: 20vw;
  }

  &--blue-right {
    width: 34vw;
    height: 34vw;
    background: $brand-blue;
    top: 30vw;
    right: 7.5vw;
  }

  &--yellow-right {
    width: 19.9vw;
    height: 19.9vw;
    background: $brand-yellow;
    top: 0;
    right: 0.25rem;
  }

  &--circ {
    left: 32.5vw;
    top: 48vw;

    img {
      width: 5vw;
    }
  }

  &--line-circ {
    left: 35.5vw;
    top: -4vw;

    img {
      width: 13.5vw;
    }
  }

  &--diamond {
    left: 50vw;
    top: 15vw;

    img {
      width: 4vw;
    }
  }

  &--triangle {
    left: 15.5vw;

    img {
      width: 4vw;
    }
  }
}

.line-span {
  position: relative;
  overflow-x: hidden;

  h1, h2, h3, h4, h5, h6 {
    z-index: $z2;
  }

  &::after {
    content: "";
    width: 100%;
    height: 3px;
    position: absolute;
    z-index: $z1;
    background: $fill-black;
    bottom: 1.85em;

  }
}

#video {
  width: 100%;
  height: 62vw;
}

video {
  &::-webkit-media-controls-panel {
      background-color: transparent !important;
  }
  &::-webkit-media-controls-play-button, &::-webkit-media-controls-volume-slider,
  &::-webkit-media-controls-mute-button,
  &::-webkit-media-controls-fullscreen-button {
    display: none;
  }
  &::-webkit-media-controls-current-time-display, &::-webkit-media-controls-time-remaining-display {
    color: $text-black;
  }
}

input[type="range" i]::-webkit-slider-thumb, input[type="range" i]::-webkit-media-slider-thumb {
  -webkit-appearance: none !important;
}

// .portrait-outer {
//   height: 0;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   position: relative;
//   z-index: 0
// }

// .portrait-outer {
//   height: 100vh;
//   width: 100vw;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   position: fixed;
//   top: 0;
//   z-index: 0
// }

.portrait {
  font-size: 0.48vw;
  color: rgba($fill-black,.35);
  font-family: monospace;
  white-space: pre-wrap;
  line-height: 1.22;
  display: inline-block;
  z-index: 0
}

.el-image {
  margin-top: -10vw;
  display: inline-block;
}

.blur-shape-1 {
  $shape: 30vw;
  top: -125vh;
  left: 22vw;
  height: $shape;
  width: $shape;
  border-radius: ($shape/2);
  background-color: #B2FF00;
  filter: blur($shape/6)
}

.blur-shape-2 {
  $shape: 15vw;
  top: -50vh;
  right: 10vw;
  height: $shape;
  width: $shape;
  border-radius: ($shape/2);
  background-color: #FF5A00;
  filter: blur($shape/4)
}

.blur-shape-3 {
  $shape: 25vw;
  top: -25vh;
  left: -5vw;
  height: $shape;
  width: $shape;
  border-radius: ($shape/2);
  background-color: $brand-blue;
  filter: blur($shape/10)
}

.blur-shape-4 {
  $shape: 10vw;
  top: 0vh;
  right: 33vw;
  height: $shape;
  width: $shape;
  border-radius: ($shape/2);
  background-color: #FFCB00;
  filter: blur($shape/6)
}
