$var: 33vw
$balloon-color1: #37C2FF
$balloon-color2: #ED278D
$balloon-color3: #F78100

.move
  display: block
  position: absolute
  width: $var
  height: $var
  //transform: translate(-50%,-50%)
  transition: all 2.5s cubic-bezier(0,.01,.14,1.19)
  border-radius: 50%
  mix-blend-mode: multiply
  z-index: 0

  &:after
    content: ""
    position: absolute
    bottom: -#{$var / 9}
    left: calc(50% - #{$var / 8})
    width: 0
    height: 0
    border-left: #{$var / 8} solid transparent
    border-right: #{$var / 8} solid transparent
    border-bottom: #{$var / 8} solid black

  &--1
    left: calc(30% - #{$var / 2})
    top: calc(50% - #{$var / 2})
    background: $balloon-color1
    &:after
      border-bottom-color: $balloon-color1
  &--2
    left: calc(50% - #{$var / 2})
    top: calc(53% - #{$var / 2})
    background: $balloon-color2
    &:after
      border-bottom-color: $balloon-color2
  &--3
    left: calc(70% - #{$var / 2})
    top: calc(46% - #{$var / 2})
    background: $balloon-color3
    &:after
      border-bottom-color: $balloon-color3
