.vh_100 {height: 100vh; min-height: 500px;}
.vh_90 {height: 90vh; min-height: 500px;}
.vh_80 {height: 80vh; min-height: 500px;}
.vh_70 {height: 70vh; min-height: 500px;}
.vh_60 {height: 60vh; min-height: 500px;}
.vh_50 {height: 50vh; min-height: 500px;}
.vh_40 {height: 40vh; min-height: 500px;}
.vh_30 {height: 30vh; min-height: 500px;}
.vh_20 {height: 20vh; min-height: 500px;}
.vh_10 {height: 10vh; min-height: 500px;}

.display-flex {display: flex;}
.inline-table {display: inline-table;}
.align-items-center {align-items: center;}
.align-items-flex-start {align-items: flex-start;}
.align-items-flex-end {align-items: flex-end;}
.align-items-baseline {align-items: baseline;}
.align-items-stretch {align-items: stretch;}
.align-self-center {align-self: center;}
.align-self-flex-start {align-self: flex-start;}
.align-self-flex-end {align-self: flex-end;}
.align-self-baseline {align-self: baseline;}
.align-self-stretch {align-self: stretch;}
.justify-content-center {justify-content: center;}
.justify-content-flex-start {justify-content: flex-start;}
.justify-content-flex-end {justify-content: flex-end;}
.justify-content-space-around {justify-content: space-around;}
.justify-content-space-between {justify-content: space-between;}
.flex-direction-column {flex-direction: column;}
.flex-direction-column-reverse {flex-direction: column-reverse;}
.flex-direction-row {flex-direction: row;}
.flex-direction-row-reverse {flex-direction: row-reverse;}
