.postBody {
  @apply grid grid-cols-4 auto-rows-auto;

  & p,
  & h1,
  & h2,
  & h3 {
    @apply col-start-1 col-span-full md:col-start-3 md:col-span-2 md:pr-4 text-paragraph mb-4 self-end text-pretty;
  }

  & h1,
  & h2,
  & h3 {
    @apply headline-display-xs !leading-6 max-w-[35em] mt-4;
  }

  & p {
    @apply text-paragraph mb-4 max-w-[28em] !leading-8;

    & a {
      @apply underline underline-offset-2 decoration-1;
    }

    & code {
      @apply relative font-mono text-[1rem] bg-root text-black px-1 rounded-sm transition-colors duration-200 selection:!text-black;

      &:hover {
        @apply bg-white;
      }
    }
  }

  & ol {
    @apply list-decimal;
  }

  & ul {
    @apply list-disc;
  }

  & ol,
  & ul {
    @apply col-start-1 col-span-full md:col-start-3 md:col-span-2 pl-6 mb-4 text-paragraph;
  }

  & pre {
    @apply col-start-1 col-span-full md:col-start-3 md:col-span-2 overflow-scroll font-mono text-[.85rem] rounded mb-4 border-[#ffffff2c] bg-[#ffffff0d] border-[0.5px] h-fit mt-2;

    @media (min-width: 768px) {
      max-width: calc(100% - 1rem);
    }
  }

  & hr {
    @apply col-start-1 col-span-full mt-8 mb-12 border-t-[.5px] border-t-root;
  }

  & blockquote {
    @apply col-start-1 col-span-full md:col-start-3 md:col-span-2 pl-3 mt-4 mb-8  border-l-[.5px] border-l-root;

    & p {
      @apply text-paragraph mb-0;
    }
  }

  & .postImage {
    @apply overflow-hidden rounded border-[0.5px] border-[#ffffff30];
  }

  & iframe {
    @apply col-start-1 md:col-start-2 col-span-full md:col-span-3 mb-4 max-w-full select-none overflow-clip my-4 border-[#ffffff2c] !border-[0.5px] !rounded;

    @media (min-width: 768px) {
      max-width: calc(100% - 1rem);
    }
  }
}

.postImage {
  @apply col-start-1 col-span-full mb-4 max-w-full select-none;

  &[alt='aside'] {
    @apply col-span-2 col-start-auto;

    @media (min-width: 768px) {
      max-width: calc(100% - 1rem);
    }
  }

  &[alt='sm'],
  &[alt='md'],
  &[alt='lg'] {
    @apply my-10;
  }

  &[alt='xs'] {
    @apply col-start-1 col-span-2 md:col-start-3;

    @media (min-width: 768px) {
      max-width: calc(100% - 1rem);
    }
  }

  &[alt='sm'] {
    @apply col-start-1 col-span-3;
  }

  &[alt='md'],
  &[alt='lg'] {
    @apply col-start-1 col-span-4;
  }
}
