{% include icons/godaddy.svg %}

<script type="text/javascript">
  let gd_el = document.getElementById("godaddy-mark");
  let gd_classes = gd_el.classList
  let gd_hasScrolled = gd_classes.contains('scrolled')
  let last_known_scroll_position = 0;
  let ticking = false;

  window.addEventListener("scroll", function(e) {
    last_known_scroll_position = window.scrollY;
    gd_classes = gd_el.classList
    gd_hasScrolled = gd_classes.contains('scrolled')

    if (!ticking) {
      window.requestAnimationFrame(function() {
        if (last_known_scroll_position >= 60) {
          gd_el.classList.add("scrolled");
        } else if (last_known_scroll_position < 60) {
          gd_el.classList.remove("scrolled");
        }
        ticking = false;
      });

      ticking = true;
    }
  });

  function gdOnClick() {
    gd_classes = gd_el.classList
    gd_hasScrolled = gd_classes.contains('scrolled')

    if (gd_hasScrolled) {
      gd_el.classList.remove("scrolled");
      gd_el.classList.remove("initial");
     } else if (!gd_hasScrolled) {
      gd_el.classList.add("scrolled");
    }
  }

  window.onload = event => {
    gd_el.classList.add("initial");
  };
</script>
