
.m-scene
  .scene_element
    z-index: 99
    $property: animation-duration
    $value: 1s
    +prefix-property($property, $value)
    $property: transition-timing-function
    $value: $cubic
    +prefix-property($property, $value)
    $property: animation-fill-mode
    $value: both
    +prefix-property($property, $value)
    $property: transition-property
    $value: all
    +prefix-property($property, $value)
    $property: transition-timing-function
    $value: $cubic
    +prefix-property($property, $value)
  .scene_element--fadeInUp
    $property: animation-name
    $value: fadeIn
    +prefix-property($property, $value)
  .scene_element--fadeIn
    $property: animation-name
    $value: fadeIn
    +prefix-property($property, $value)
    $property: animation-delay
    $value: 0.5s
    +prefix-property($property, $value)

  .content_element
    $property: animation-duration
    $value: 0.4s
    +prefix-property($property, $value)
    $property: transition-timing-function
    $value: $cubic
    +prefix-property($property, $value)
    $property: animation-fill-mode
    $value: both
    +prefix-property($property, $value)
    $property: transition-property
    $value: all
    +prefix-property($property, $value)
    $property: transition-timing-function
    $value: $cubic
    +prefix-property($property, $value)

  .content_element--fadeInUp
    $property: animation-name
    $value: fadeInUp
    +prefix-property($property, $value)
    $property: animation-delay
    $value: 0.3s
    +prefix-property($property, $value)

  &.is-exiting .scene_element
    $property: animation-direction
    $value: alternate-reverse
    +prefix-property($property, $value)
    $property: animation-duration
    $value: 0.3s
    +prefix-property($property, $value)

  &.is-exiting .alpha
    $property: animation-direction
    $value: alternate-reverse
    +prefix-property($property, $value)
    $property: animation-duration
    $value: 0.3s
    +prefix-property($property, $value)

  &.is-exiting .content_element
    $property: animation-direction
    $value: alternate-reverse
    +prefix-property($property, $value)



+keyframes(fadeInUp)
  0%
    opacity: 0
    $property: transform
    $value: translateY(100px)
    +prefix-property($property, $value)

  100%
    opacity: 1
    $property: transform
    $value: translateY(0)
    +prefix-property($property, $value)

+keyframes(fadeOutUp)
  0%
    opacity: 1
    $property: transform
    $value: translateY(0)
    +prefix-property($property, $value)

  100%
    opacity: 0
    $property: transform
    $value: translateY(-50px)
    +prefix-property($property, $value)

+keyframes(fadeIn)
  0%
    opacity: 0

  100%
    opacity: 1

+keyframes(fadeOut)
  0%
    opacity: 1

  100%
    opacity: 0

+keyframes(fadeInDown)
  0%
    opacity: 0
    $property: transform
    $value: translateY(-100px)
    +prefix-property($property, $value)

  100%
    opacity: 1
    $property: transform
    $value: translateY(0)
    +prefix-property($property, $value)

// Keyframes --------------------------------------------------- Keyframes //
//
// +keyframes(appear-1)
//   0%
//     opacity: 0
//     $property: transform
//     $value: translateY(-25px)
//     +prefix-property($property, $value)
//
//   100%
//     opacity: 1
//     $property: transform
//     $value: translateY(0)
//     +prefix-property($property, $value)
//
//
// +keyframes(appear-2)
//   0%
//     opacity: 0
//     $property: transform
//     $value: translateY(-25px)
//     +prefix-property($property, $value)
//
//   20%
//     opacity: 0
//     $property: transform
//     $value: translateY(-25px)
//     +prefix-property($property, $value)
//
//   100%
//     opacity: 1
//     $property: transform
//     $value: translateY(0)
//     +prefix-property($property, $value)
//
// nav
//   $property: animation
//   $value: appear-1 1s normal none
//   +prefix-property($property, $value)
//
// section
//   $property: animation
//   $value: appear-2 1s normal none
//   +prefix-property($property, $value)
