---
layout: page
---

<section class="page-body">
  <div class="post-content wrapper xs-mt3">
    <div class="xs-block gutters">
      <div class="col xs-col-12">
        <h4 class="xs-mt3 xs-mb0 xs-pr1 xs-inline-block">Recent Artwork</h4>
        <img class="xs-col-12" src="/img/art/art-1.png" alt="" />
        <img class="xs-col-12" src="/img/art/art-2.png" alt="" />
        <img class="xs-col-12" src="/img/art/art-3.png" alt="" />
        <h2
          class="xs-col-12 xs-mt6 xs-pt6 xs-mb6 xs-pb6 xs-text-center xs-inline-block"
        >
          <a
            href="https://instagram.com/johnchoura.art"
            target="_blank"
            rel="noreferrer"
            >View More</a
          >
        </h2>
      </div>
    </div>
  </div>
</section>

<script type="text/javascript">
  var preload_images = [
    "/img/art/art-1.png",
    "/img/art/art-2.png",
    "/img/art/art-3.png",
  ];

  for (var i = 0, len = preload_images.length; i < len; i++) {
    new Image().src = preload_images[i];
  }
</script>
