<section class="row foot">
	<div class="container">
		
		<div class="col-md-10 col-md-offset-1 ">
	
		
		<div class="foot-top">
			
			<div class="col-sm-7 col-md-7">
				<h4 class="site-tag">{{site.meta['tag']}}</h4>
			</div>
			<div class="col-xs-4 col-sm-2">
				<ul>
					<li><a href="/projects" title="Projects">Projects</a></li>
					<li><a href="/info" title="Info">Info</a></li>
				</ul>
			</div>
			<div class="col-xs-4 col-sm-2">
				<ul>
					<li><a href="/journal" title="Journal">Journal</a></li>
					<li><a class="inactive" href="/coffee" title="Coffee">Coffee</a></li>
				</ul>
			</div>
			
			<div class="col-xs-4 col-sm-1">
				<a class="logo" href="/" title="">
					<div id="logo"></div>
				</a>
				<!-- <p>What does it all mean?</p> -->
			</div>
			
		</div>

		<div class="foot-bottom">
			
			<div class="col-md-12">
				<p class="copyright" title="Don't steal my shit" alt="Don't steal my shit">© {{ 'now' | date: "%Y" }} {{site.meta['inc']}}</p>
			</div>
			<div class="col-md-8 col-lg-9">
				<a class="logo" href="/" title="">
					<div id="logo"></div>
				</a>
				<!-- <p>What does it all mean?</p> -->
			</div>
			
		</div>
		
		
		</div>
			
	</div>
</section>