
	<script type="text/javascript" src="/js/jquery-1.9.1.min.js"></script>
	<script>window.jQuery || document.write('<script src="/assets/js/boilerplate/vendor/jquery-1.9.1.min.js"><\/script>')</script>
	<script type="text/javascript" src="/js/modernizr-2.6.2.min.js"></script>
	<script type="text/javascript" src="/js/jquery.jribbble-1.0.1.min.js"></script>

	<script>
	var _gaq=[['_setAccount','{{site.meta['analtyics']}}'],['_trackPageview']];
	(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
	g.src='//www.google-analytics.com/ga.js';
	s.parentNode.insertBefore(g,s)}(document,'script'));
	</script>
	
	<script type="text/javascript">
		var callback = function (playerShots) {
		            var html = '';

		            $.each(playerShots.shots, function (i, shot) {
		                html += '<li class="col-xs-6 col-md-4">';
		                html += '<a href="' + shot.url + '" target="_blank">';
		                html += '<img src="' + shot.image_url + '" ';
		                html += 'alt="' + shot.title + '"></a></li>';
		            });

		            $('#dribbble-shots').html(html);
		        };

		        $.jribbble.getShotsByPlayerId('johnchourajr', callback, {page: 1, per_page: 3});
	</script>
	
</body>
</html>