<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta content="width=device-width, initial-scale=1" name="viewport">
		<title>{{site.title}} | {{title}}</title>
		<link rel="alternate" type="application/rss+xml" href="{{site.feed_url}}" />
		<link rel="shortcut icon" href="/img/favicon.ico">
		<link rel="stylesheet" type="text/css" href="/style.css" />
		<link rel="stylesheet" type="text/css" href="/bootstrap.css" />
		<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
		<script type="text/javascript" src="//use.typekit.net/uvc8kvh.js"></script>
		<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
	</head>
<body>

<section id="top" class="row navigado">
	<div class="container">
		<div class="col-sm-8 col-md-4 col-lg-3 col-lg-offset-1">
			<a class="logo" href="/" title="">
				<div id="logo"></div>
			</a>
			<h2 class="site-title">{{site.meta['site-title']}}</h2>
		</div>
		<div id="site-tag" class="col-md-4 col-lg-4">
			 <p class="site-tag">{{site.meta['tag']}}</p>
		</div>
		<div class="col-sm-4 col-md-4 col-lg-3">
			<div class="navigation">
				<ul>
					<li><a {% if slug == "projects" %} class="active" {% endif %} href="/projects" title="Projects">Projects</a></li>
					<li><a {% if slug == "info" %} class="active" {% endif %} href="/info" title="Info">Info</a></li>
				</ul>
				<ul>
					<li><a {% if slug == 'journal' %} class="active" {% endif %} href="/journal" title="Journal">Journal</a></li>
					<li><a class="inactive" {% comment %}{% if slug == 'coffee' %} class="active" {% endif %}{% endcomment %} href="/coffee" title="Coffee">Coffee</a></li>
				</ul>
			</div>
		</div>
 </section>