<!-- // FEATURED WORK AND JOURNAL ENTRIES // -->
<section class="featured">

  <!-- FIRST ROW -->
  <div class="featured__row grid">
    <div class="featured__cell grid__col grid__col--5-of-12">
      <a href="#">
        <figure class="featured__cell-sub featured__cell--journal">
          <span>
            <h6>Journal Entry</h6>
            <h4>Object & Subject 2.0</h4>
          </span>
        </figure>
      </a>
      <figure class="featured__cell--work featured__cell-sub">
        <div class="img" style="background-image:url(/img/home/magazine-bit.jpg)">
        </div>
      </figure>
    </div>
    <div class="featured__cell grid__col grid__col--7-of-12">
      <a href="#">
        <article>
          <h3>My Double My Brother Album Art</h3>
            <span>
              <h5>Art Direction, Illustration</h5>
            </span>
        </article>
        <figure class="featured__cell--work featured__cell--work-right">
          <div
           data-0p="background-position: 0 30%;"
           data-100p="background-position: 0 70%;"
           class="img" style="background-image:url(/img/home/mdmb-album.png)">
          </div>
        </figure>
      </a>
    </div>
  </div>

  <!-- SECOND ROW -->
  <div class="featured__row grid">
    <div class="featured__cell grid__col grid__col--8-of-12">
      <a href="#">
        <article>
          <h3>Type Fight Champ</h3>
            <span>
              <h5>Typography</h5>
            </span>
        </article>
        <figure class="featured__cell--work featured__cell--work-left">
          <div
           data-0p="background-position: 0 30%;"
           data-100p="background-position: 0 70%;"
           class="img" style="background-image:url(/img/home/TypeFight_2_JohnChoura.jpg)">
          </div>
        </figure>
      </a>
    </div>
    <div class="featured__cell grid__col grid__col--4-of-12">
      <a href="#">
        <figure class="featured__cell--journal red">
          <span>
            <h6>Journal Entry</h6>
            <h4>The Engineer and the Artist</h4>
          </span>
          <div class="img" style="background-image:url(/assets/05-GP-poster.jpg)">
          </div>
        </figure>
      </a>
    </div>
  </div>

  <!-- THIRD ROW -->
  <div class="featured__row grid">
    <div class="featured__cell grid__col grid__col--4-of-12">
      <figure class="featured__cell--work">
        <div class="img" style="background-image:url(/img/home/duudle.png)">
        </div>
      </figure>
    </div>
    <div class="featured__cell grid__col grid__col--8-of-12">
      <a href="#">
        <article>
          <h3>A Good Pair</h3>
            <span>
              <h5>Co-Created Side Project</h5>
            </span>
        </article>
        <figure class="featured__cell--work featured__cell--work-right">
          <div
           data-0p="background-position: 0 30%;"
           data-100p="background-position: 0 70%;"
           class="img" style="background-image:url(/img/home/cobalt.gif)">
          </div>
        </figure>
      </a>
    </div>
  </div>

</section>
