
<section class="featured grid">
  <div class="featured__cell featured__cell--journal grid__col grid__col--4-of-12">
    <figure>
      <img src="/assets/05-GP-poster.jpg" alt="" />
    </figure>
    <article>
      <h6>Journal Entry</h6>
      <h4>The Engineer and the Artist</h4>
    </article>
  </div>
  <div class="featured__cell grid__col grid__col--8-of-12">
    <figure class="featured__cell--img">
      <img
      data-0p="bottom: 0;"
      data-100p="bottom: -100px;"
      src="img/proj-home.jpg" alt="" />
    </figure>
    <article>
      <span class="title">
        <h3>A Good Pair</h3>
      </span>
      <span class="details">
        <h5>Co-Created Side Project</h5>
        <h5>–– 2015</h5>
      </span>
    </article>
  </div>
</section>
<section class="featured grid">
  <div class="featured__cell grid__col grid__col--12-of-12">
    <figure class="featured__cell--img">
      <img
      data-0p="bottom: 0;"
      data-100p="bottom: -100px;"
      src="img/proj-home.jpg" alt="" />
    </figure>
    <article>
      <span class="title">
        <h3>A Good Pair</h3>
      </span>
      <span class="details">
        <h5>Co-Created Side Project</h5>
        <h5>–– 2015</h5>
      </span>
    </article>
  </div>
</section>
