
<section class="featured grid">


  <div class="featured__cell grid__col grid__col--12-of-12">
    <a href="/work/a-good-pair">
    <!-- <article
    data-0p="top: 60%;"
    data-50p="top: 50%;"> -->
    <article>
      <div class="outer">
        <span class="title">
          <h3>A Good Pair</h3>
        </span>
        <span class="details">
          <h5>Co-Created Side Project</h5>
          <h5>2015</h5>
        </span>
      </div>
    </article>
    <figure class="featured__cell--img">
      <img src="/assets/hero-agoodpair.jpg" alt="" />
    </figure>
    </a>
  </div>

  <div id="featured" class="featured__cell grid__col grid__col--12-of-12">
    <a href="/work/signal">
    <!-- <article
    data-anchor-target="#featured"
    data-50p="top: 55%;"
    data-100p="top: 45%;"> -->
    <article>
      <div class="outer">
        <span class="title">
          <h3>Signal</h3>
        </span>
        <span class="details">
          <h5>Product Design</h5>
          <h5>2015</h5>
        </span>
      </div>
    </article>
    <figure class="featured__cell--img">
      <img src="/assets/hero-signal-1.jpg" alt="" />
    </figure>
    </a>
  </div>

  {% comment %}
  <div class="featured__cell grid__col grid__col--12-of-12">
    <a href="/work/kareo">
    <article
    data-100="top: 57%;"
    data-150p="top: 47%;">
      <div class="outer">
        <span class="title">
          <h3>Kareo</h3>
        </span>
        <span class="details">
          <h5>Art Direction and Illustration</h5>
          <h5>2015</h5>
        </span>
      </div>
    </article>
    <figure class="featured__cell--img">
      <img src="/assets/hero-kareo.jpg" alt="" />
    </figure>
    </a>
  </div>
  {% endcomment %}



</section>
