---
layout: default-w
---


<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <div class="wrapper">
    <div class="gutters">
      <div class="col md-col-4 lg-col-5 md-mt4">
        <header class="post-header">
          <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
          <p class="post-meta"><time itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
        </header>
      </div>
      <div class="col md-col-8 lg-col-7 md-mt4">
        <div class="post-content" itemprop="articleBody">
          {{ content }}
        </div>
      </div>
    </div>
  </div>

</article>
