---
layout: default
---


<article class="post-body" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <div class="wrapper">
      <div class="gutters">
        <div class="col md-col-4 lg-col-5">
            <h1 class="" itemprop="name headline">{{ page.title }}</h1>
        </div>
      </div>
      <div class="post-hero post-hero-overflow xs-mb6">

        <div class="move move--1"></div>
        <div class="move move--2"></div>
        <div class="move move--3"></div>

        <script type="text/javascript">
          $("body").mousemove(function(event) {

          var mousex = event.pageX - $(this).width()/2;
          var mousey = event.pageY - $(this).height()/2;

          var imgx1 = (mousex) / -90;
          var imgy1 = (mousey) / 65;
          var imgr1 = (mousex) / 50;
          var imgx2 = (mousex) / -70;
          var imgy2 = (mousey) / 50;
          var imgr2 = (mousex) / -60;
          var imgx3 = (mousex) / -110;
          var imgy3 = (mousey) / 70;
          var imgr3 = (mousex) / 80;

          $(".move--1").css("transform", "translate(" + imgx1 + "vw," + imgy1 + "vh)" + "rotate(" + imgr1 + "deg)");
          $(".move--2").css("transform", "translate(" + imgx2 + "vw," + imgy2 + "vh)" + "rotate(" + imgr2 + "deg)");
          $(".move--3").css("transform", "translate(" + imgx3 + "vw," + imgy3 + "vh)" + "rotate(" + imgr3 + "deg)");
          });

        </script>

      </div>
    </div>
  </header>

  <div class="wrapper">
    <div class="gutters">
      <div class="col md-col-4 lg-col-5">
          <p class="post-meta text-gray-lighter"><time itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} <span class="xs-px3 text-gray-lighter">—</span> <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="text-gray-lighter xs-inline-block" itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
      </div>
      <div class="col xs-col-12 -md-offset-4 md-col-8 -lg-offset-5 lg-col-7">
        <div class="post-content" itemprop="articleBody">
          {{ content }}
        </div>
      </div>
    </div>
  </div>

</article>
