

	{% if type == 'page' %}
		{% for asset in post.assets %}
			{% if  asset.meta.type == "thumb" %}
				<div class="col-xs-6 col-sm-4 col-md-3 project-thumb-height">
					<div class="project-thumb">
						<a href="{{post.url}}">
							<img src="{{asset.url}}" alt="{{post.title}}" />
							<h2 class="title" href="{{post.url}}">
								{{post.title}}
							</h2>
						</a>
					</div>
				</div>
			{% endif %}
		{% endfor %}
	{% endif %}
	
	
	{% for tags in taxonomy['key'] %}
	
		{% if tag.key == 'hero' %}
		{% endif %}
	
	{% endfor %}
	
	
	
	{% if type == 'post' %}
	
				<div class="project-hero" {% for asset in assets %}{% if asset.meta.type == 'hero' %} style="background-image: url('{{asset.url}}') ;background-color:{{post.meta.color | fallback:'rgba(241,89,42,1)' }} !important;"{% endif %}{% endfor %}>
					<div class="container">
						<div class="col-sm-6 col-md-8 col-md-offset-2">
							<h1 class="project-title">{{post.title}}</h1>
						</div>
					</div>
				</div>

		
		<div class="container">
			<div class="col-md-6 col-md-offset-2">
				<div class="project-description">
					<h3 class="project">Project Description</h3>
					{{post.body}}
				</div>
			</div>
			<div class="col-md-2">
				<div class="project-aside" >
					<ul>
						<h3 class="project">Services</h3>
						<li>{{meta['service']}}</li>
					</ul>	
					{% for data in meta %}
					{% assign key = data.key | split: '_' %}
						{% if key[0] == 'link' %}
							<h3 class="project">On The Web</h3>
							<a href="{{ key[1] }}"  class="button" alt="{{post.title}} Link" target="_blank">{{ data.value }}</a>
						{% endif %}
					{% endfor %}
				</div>
			</div>	
			
			{% if post.meta.youtube %}
				<div class="col-sm-12 col-md-10 col-md-offset-1">
					<div class="project-video">
						<iframe width="960" height="570" src="//www.youtube.com/embed/{{ meta.youtube }}" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
					</div>		
				</div>
				<script src="/js/jquery.fitvids.js"></script>
				<script>
				  $(document).ready(function(){
				    $("section.blog").fitVids();
				  });
				</script>
			{% endif %}
			
			{% for asset in assets %}
					<div {% if asset.meta.type == 'body' %}class="col-md-10 col-md-offset-1" style="clear: both;"{% endif %} {% if asset.meta.type == 'full' %}class="col-md-12" style="clear: both;"{% endif %}>
						<div class="project-images">
								<img src="{% if asset.meta.type == 'body' %} {{asset.url}} {% endif %}{% if asset.meta.type == 'full' %} {{asset.url}} {% endif %}">
						</div>
						
						{% comment %}
						{% if asset.meta.type == 'caption' %}
							<p class="project-caption">{{ asset.meta.caption }}</p>
						{% endif %}
						{% endcomment %}
					</div>
			{% endfor %}
			
			<div class="col-md-4 col-md-push-4 client">
				<p>{{meta['client'] | markdown}}</p>
			</div>
			
		</div>
		
		
		{% if current.parent and (current.previous or current.next) %}
		
		<div class="row top-border">
			<div class="container">
				
				<div class="col-xs-5 col-sm-5 col-md-3 col-md-offset-2 border">
				{% if current.previous %}
					<div class="project-foot">
						<a href="{{ current.previous.url }}" class="prev" title="">&larr; {{ current.previous.title }}</a>
					</div>
				{% else %}
					<div class="project-foot">
						<p class="bottom">It's the end of the line, partner.</p>
					</div>
				{% endif %}
				</div>
				
				<div class="col-xs-2 col-sm-2 col-md-2 border">
				{% if parent %}
				<div class="project-foot">
					<p class="menu"><a href="{{parent.url}}">☰</a></p>
				</div>
				{% endif %}
				</div>
				
				<div class="col-xs-5 col-sm-5 col-md-3">
				{% if current.next %}
					<div class="project-foot">
						<a href="{{ current.next.url }}" class="next" title="">{{ current.next.title }} &rarr;</a>
					</div>
				{% else %}
					<div class="project-foot">
						<p class="bottom" style="float:right;">This is the most recent project.</p>
					</div>
				{% endif %}
				</div>
				
			</div>
		</div>
		{% endif %}
		
	{% else %}
	{% endif %}
	
	
				
				

	
