{% if type == 'post' %}

<body>

  <section class="work__hero" style="background-color:{{post.meta.color | fallback:'rgba(77,77,77,1)'}} !important;">
    <header>
      <nav class="grid">
        <ul class="logo grid__col grid__col--1-of-12 grid__col--push-1-of-12">
          <li class="logo__svg"><a href="/"><img src="/img/logo-w.svg" alt="/"/></a></li>
        </ul>
        <ul class="nav grid__col grid__col--5-of-12 grid__col--push-4-of-12">
        {% for page in site.pages %}
          <li><a class="white" href="{{page.url}}">{{page.title}}</a></li>
        {% endfor %}
        </ul>
      </nav>
    </header>
    <figure
      data-0="background-position-y:1px;"
      data-500="background-position-y:70px;"
      class="work__hero--img"
      {% for asset in assets %}{% if asset.meta.type == 'poster' %} style="background-image: url('{{asset.url}}');"
      {% endif %}{% endfor %}>
    </figure>
  </section>

  <section class="article__detail article__detail--work">
    <span class="article__detail--header">
      <h1>{{post.title}}</h1>
    </span>
    <aside class="">
      <ul>
        <li>
          <h6>Role</h6>
          <p>{{post.meta.service}}</p>
        </li>
        <li>
          <h6>Client</h6>
          <p>{{post.meta.client}}</p>
        </li>
        {% for data in meta %}
          {% assign key = data.key | split: '_' %}
            {% if key[0] == 'link' %}
            <li>
            <h6>Link</h6>
            <p><a href="{{ key[1] }}"  class="button" alt="{{post.title}} Link" target="_blank">
              {{ data.value }}
            </a></p>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </aside>
    <div class="article__detail--work-body">
      {{body}}
    </div>
  </section>

</body>

{% endif %}
