<div class="post-content ">
  <div class="wrapper xs-pt3 xs-mt3 md-pt6 md-mt6">
    <div class="xs-col-12">
      {% assign post = site.journal.last %}
      {% assign content = post.content %}
      <h1 class="xs-inline-block md-mt2 xs-pr2 ">Newest Journal Post </h1>
      <h3 class="xs-inline-block text-gray-lightest md-mt2 md-pr6"> on {{ post.date | date: "%b %-d, %Y" }}</h3>
      <div class="col xs-col-12 xs-mb3 " >
        <div class="fill-black rounded">
          <a href="{{ post.url }}" class="xs-block">
            <div class="xs-block xs-py6" {% if post.cover %}style="
            background-image: url(/journal/uploads/{{ post.cover }}); background-size: cover; background-position: center; height: 30vw;"{% endif %}>
            </div>
            <div class="xs-inline-block sm-col-10 sm-offset-1 xs-p3 sm-py6 sm-px0">
              <div class="col sm-col-6 md-col-5 xs-pr2 md-pr3 lg-pr6">
                <span class="display-2 xs-mb3 lg-pr6 text-white">{{ post.title }}</span>
                {% assign wordcount = post.content | number_of_words %}
                {% assign avgwpm = 200 %}
                <!-- {{wordcount}} words read at {{avgwpm}} words per minute equals the estimated read time -->
                {% if  wordcount >= avgwpm %}
                  <h5 class="xs-mt3 text-white xs-block">{{ wordcount | divided_by: avgwpm | floor }} Minute Read</h5>
                {% else %}
                  <h5 class="xs-mt3 text-white xs-block">1 Minute Read</h5>
                {% endif %}
              </div>
              <div class="col sm-col-6 md-col-7">
                <p class="text-white">
                  {{ post.content | strip_html | truncate: 100 }}
                </p>
                <h6 class="text-white">Continue Reading</h6>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
