<div class="page-header--lower wrapper">
  <!-- I do this because I love order and chaos -->
  <i class="shape shape--sheet-1 shape--red-left"></i>
  <i class="shape shape--sheet-3 shape--blue-right"></i>
  <i class="shape shape--sheet-2 shape--yellow-right"></i>
  <span class="shape shape--sheet-2 shape--circ"><img src="/img/circ.svg" alt="" /></span>
  <span class="shape shape--sheet-2 shape--line-circ"><img src="/img/line-circ.svg" alt="" /></span>
  <span class="shape shape--sheet-1 shape--diamond"><img src="/img/diamond.svg" alt="" /></span>
  <span class="shape shape--sheet-1 shape--triangle"><img src="/img/triangle.svg" alt="" /></span>
</div>
