@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'KUniforma Bold';
  font-style: normal;
  font-weight: 800 ;
  font-display: swap;
  src: url('../fonts/KUniforma-80Bold.woff2') format('woff2'),
       url('../fonts/KUniforma-80Bold.woff') format('woff');
}

@font-face {
  font-family: 'KUniforma Bold Ritalic';
  font-style: italic;
  font-weight: 850;
  font-display: swap;
  src: url('../fonts/KUniforma-85BoldRitalic.woff2') format('woff2'),
    url('../fonts/KUniforma-85BoldRitalic.woff') format('woff');
}

@font-face {
  font-family: 'KUniforma Black';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src:
    url('../fonts/KUniforma-90Black.woff2') format('woff2'),
    url('../fonts/KUniforma-90Black.woff') format('woff');
}

@font-face {
  font-family: 'KUniforma Black Ritalic';
  font-style: normal;
  font-weight: 950;
  font-display: swap;
  src:
    url('../fonts/KUniforma-95BlackRitalic.woff2') format('woff2'),
    url('../fonts/KUniforma-95BlackRitalic.woff') format('woff');
}

@font-face {
  font-family: 'PPMondwest';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src:
    url('../fonts/PPMondwest-Regular.woff2') format('woff2'),
    url('../fonts/PPMondwest-Regular.woff') format('woff');
}

@layer components {
  html, body {
    @apply text-root
  }

  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  html[data-dim="true"] .dim-shim {
    @apply bg-black bg-opacity-80
  }
}

@layer components {
  input[type=range] {
    appearance: none;
    margin: 10px 0;
    width: 100%;

    --thumb: var(--root-color);
    --track: rgba(255, 255, 255, .1);
    --drop-shadow: 0px 0px 0px #000000,
      0px 0px 0px #000000;
    --border: 0px solid transparent;
  }

  input[type=range]:focus {
    outline: none;
  }

  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 4px;
    cursor: pointer;
    box-shadow: var(--drop-shadow);
    background: var(--track);
    border-radius: 25px;
    border: var(--border);
  }

  input[type=range]::-moz-range-track {
    width: 100%;
    height: 4px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: var(--drop-shadow);
    background: var(--track);
    border-radius: 25px;
    border: var(--border);
  }

  input[type=range]::-webkit-slider-thumb {
    box-shadow: var(--drop-shadow);
    border: var(--border);
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: var(--thumb);
    cursor: pointer;
    appearance: none;
    margin-top: -8px;
  }

  input[type=range]:focus::-webkit-slider-runnable-track {
    background: var(--track);
  }

  input[type=range]::-moz-range-thumb {
    box-shadow: var(--drop-shadow);
    border: var(--border);
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: var(--thumb);
    cursor: pointer;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
    font-weight: variable;
  }
}

.border-shadow{
  box-shadow: 0 0 0 2px rgba(0,0,0,1), 0 2px 2px 0 rgba(0,0,0,1);
}
